.card_choice {
    height: 350px;
    width: 250px;
    background-size: 250px 350px !important;
    background: url('../public/cardBackground.jpg');
    border-radius: 8px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
